html {
    text-align: center
}

header h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.main {
    background-color: black;
    
}

body {
    background-color: black;
    align-items: center;
}

a {
    color: Aquamarine;
    font-size: 16px;
    text-align: center;
}

.video {
    align-items: center;
}